.divContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;  
  justify-content: space-between;
}

.People {
  height: 30vh;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: auto;
  height: 33vh;
  overflow-y: scroll;
}
 
.FullPerson {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  padding: 16px;
  text-align: center;
  border: 5px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: auto;
  margin-bottom: 10px;
  box-sizing: border-box;    
  height: 33vh;
  overflow-y: auto;
}