.divFullPersonContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;  
  justify-content: center;
}

.divFullPersonData {
  margin: auto;
  max-width: 300px;
}

.FullPersonData {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: left;   
  background-color: white;
  overflow: auto;
}

.FullPersonThumbnail {
  margin: auto;
  overflow-x: hidden;
}

img {
  max-width: 300px;
  max-height: 200px;
}